<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">

<title>Reclamo</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyDRe9w52DO6Q7FAAirmEQK2eLAI55scr7Y"></script>
	<link rel="stylesheet" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css"
		  th:href="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css}"/>

</head>
<body >
	<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	<div class="container">
		<h2 th:inline="text">[[${titulo}]]</h2>
		<div>
			<div class="row">
				<form class="form-horizontal" th:object="${reclamo}"
					th:action="@{/reclamo}" method="post" enctype="multipart/form-data">
					<input type="hidden" th:field="*{idReclamo}" />
					<input type="hidden" class="latitud" th:field="*{latitud}" />
					<input type="hidden" class="longitud" th:field="*{longitud}" />
					<input type="hidden" th:field="*{usuario}" />
					<div class="form-group">
						<label class="col-sm-2 control-label">Nombre:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:field="*{nombre}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Descripci&oacute;n:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:field="*{descripcion}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Direcci&oacute;n:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:field="*{direccion}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Fecha:</label>
						<div class="col-sm-10">
							<input type="text" placeholder="DD-MM-YYY"  data-date-format="dd-mm-yyyy" class="form-control fecha" th:field="*{fecha}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Fotos:</label>
						<div class="col-sm-10">
							<input id="fileInput" type="file" name="fotos" onchange="updateSize();" multiple="multiple" />
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2 control-label">Tipo:</label>
						<div class="col-sm-10">
							<select th:field="*{tipo}" class="form-control">
								<option th:each="tipo : ${listaTipos}" th:value="${tipo.idTipo}"
									th:text="${tipo.nombre}"></option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Gravedad:</label>
						<div class="col-sm-10">
							<select th:field="*{gravedad}" class="form-control">
								<option th:each="gravedad : ${listaGravedades}" th:value="${gravedad.idGravedad}"
										th:text="${gravedad.nombre}"></option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Estado:</label>
						<div class="col-sm-10">
							<select th:field="*{estado}" class="form-control">
								<option th:each="estado : ${listaEstados}" th:value="${estado.idEstado}"
										th:text="${estado.descripcion}"></option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-primary">Aceptar</button>
							<a type="button" class="btn btn-default"
								th:href="@{'/reclamos'}">Volver</a>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>

</body>
<!--/*/ <th:block th:replace="fragments/footer :: footer"></th:block> /*/-->
<script th:src="@{/js/gmap3.min.js}"></script>

<!-- DatePicker-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.es.min.js"
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.es.min.js}"></script>
<script th:inline="text">
	$(document).ready(function () {
        var input = document.getElementById('direccion');
        var options = {
            componentRestrictions: {country: 'cl'}
        };
        var autocomplete = new google.maps.places.Autocomplete(input, options);
        autocomplete.addListener('place_changed', function () {
            place = autocomplete.getPlace();
            if (!place.geometry) {
                window.alert("Autocomplete's returned place contains no geometry");
                return;
            }
            var lat = place.geometry.location.lat();
            var long = place.geometry.location.lng();

            $('#latitud').val(lat);
            $('#longitud').val(long);

            $('#fecha').datepicker({
                language: "es",
                todayHighlight: true
            });
        });

        $('#fecha').datepicker({
            format: 'dd-mm-yyyy',
            language: 'es',
		})
    });




</script>

</html>