<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">

    <title>Reclamos</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <link href="../../static/css/grid.css"
          th:href="@{/css/grid.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<style>
    .thumbnail img {
        height: 220px;
        object-fit: cover;
    }

    .thumbnail .caption {
        height: 220px;
    }

</style>
<div class="container">
    <h1>Todos los Reclamos</h1>
    <div class="container">
        <form class="form-inline" th:action="@{/searchReclamo}"
              method="get">
            <div class="form-group" role="search">
                <div class="input-group">
                    <input class="form-control" id="s" name="s" type="text"
                           placeholder="Buscar por reclamo"/>
                </div>
            </div>
            <div class="form-group" role="search">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
            </div>
        </form>
    </div>

    <div id="products" class="row list-group" th:if="${not #lists.isEmpty(reclamos)}">
        <div class="item  col-xs-4 col-lg-4" th:each="reclamo,status : ${reclamos}">
            <div class="thumbnail" th:unless="${reclamo.estado.idEstado == 3}">
                <img th:if="${not #lists.isEmpty(reclamo.imagens)}" class="group list-group-image image-responsive"
                     th:src="@{'/img/reclamos/' + ${reclamo.imagens.get(0).archivo}}"
                     alt=""/>
                <img th:if="${#lists.isEmpty(reclamo.imagens)}" class="group list-group-image"
                     th:src="@{/img/reclamos/default.jpg}" alt=""/>
                <div class="caption">
                    <h4 th:text="${reclamo.nombre}" class="group inner list-group-item-heading">
                        Product title</h4>
                    <p th:text="${reclamo.descripcion}" class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>


                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="fa fa-comments" th:text="' '+ ${reclamo.comentarios.size()}"></p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-primary" th:href="@{${'/reclamo2/' + reclamo.idReclamo }}" href="">Ver
                                reclamo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div sd:pagination-summary="">info</div>
        </div>
        <div class="col-sm-6">
            <nav>
                <ul class="pagination" sd:pagination="full">
                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->

                </ul>
            </nav>
        </div>
    </div>
</div>

</body>
<!--/*/ <th:block th:replace="fragments/footer :: footer"></th:block> /*/-->
<script th:replace="fragments/confirm2 :: confirm">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</html>