<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">

<title>Reclamos</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	<div class="container">
		<div align="center">
			<h1>Reclamos</h1>
			<a class="btn btn-primary" th:href="@{'reclamo/nuevo'}">Agregar
				Reclamo</a> <a class="btn btn-default" th:href="@{'/'}">Inicio</a> <br />
			<br />
			<div th:if="${not #lists.isEmpty(reclamos)}">
				<table class="table table-striped">
					<tr>
						<th>#</th>
						<th>Nombre</th>
						<th>Direcci&oacute;n</th>
						<th>Estado</th>
						<th>Comentarios</th>
						<th>Acciones</th>
					</tr>
					<tr th:each="reclamo,status : ${reclamos}">
						<td th:text="${status.index+1}"><a
							href="/reclamo/${reclamo.idReclamo}">#</a></td>
						<td th:text="${reclamo.nombre}">Nombre</td>
						<td th:text="${reclamo.direccion}">direccion</td>
						<td th:text="${reclamo.estado.descripcion}">estado</td>
						<td th:text="${reclamo.comentarios.size()}">comentarios</td>
						<td><a th:href="@{${'/reclamo/' + reclamo.idReclamo }}"><i
								class="fa fa-eye" data-toggle="tooltip" title="Ver"></i></a> <a
							th:href="@{${'/reclamo/modificar/' + reclamo.idReclamo}}"><i
								class="fa fa-pencil" data-toggle="tooltip" title="Modificar"></i></a>
							<a id="delete" th:href="@{${'/reclamo/eliminar/' + reclamo.idReclamo}}"><i
								class="fa fa-trash" data-toggle="tooltip" title="Eliminar"></i></a></td>

					</tr>
				</table>

			</div>
		</div>
	</div>

</body>
<!--/*/ <th:block th:replace="fragments/footer :: footer"></th:block> /*/-->
<script th:replace="fragments/confirm :: confirm">

</script>
<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</html>