<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">

    <title>Ver reclamo</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <link rel="stylesheet" media="screen"
          href="../../static/css/flickity.css"
          th:href="@{/css/flickity.css}"/>
    <style>
        /* force scrollbar, not necessary, but may reduce gaps. Setting a max-height on .carousel also works */
        .carousel {
            background: #EEE;
        }

        .carousel img {
            display: block;
            height: 400px;
        }

        #map {
            width: 300px;
            height: 300px;
        }
    </style>
    <script
            th:src="@{'https://maps.googleapis.com/maps/api/js?key=AIzaSyDRe9w52DO6Q7FAAirmEQK2eLAI55scr7Y'}">
    </script>
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<div class="container">
    <h2 th:text="${reclamo.nombre}">Detalle del Reclamo</h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="carousel">
                <div class="carousel-cell" th:each="imagen : ${reclamo.imagens}">
                    <img th:src="@{'/img/reclamos/' + ${imagen.archivo}}" alt="imagen"/>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="detalles">
                <dl class="dl-horizontal">
                    <dt>Nombre</dt>
                    <dd th:text="${reclamo.nombre}">nombre</dd>
                    <dt>Descripci&oacute;n</dt>
                    <dd th:text="${reclamo.descripcion}">desc</dd>
                    <dt>Fecha del reclamo</dt>
                    <dd th:text="${reclamo.fecha}">fecha</dd>
                    <dt>Tipo</dt>
                    <dd th:text="${reclamo.tipo.nombre}">tipo</dd>
                    <dt>Estado</dt>
                    <dd th:text="${reclamo.estado.descripcion}">estado</dd>
                    <dt>Gravedad</dt>
                    <dd th:text="${reclamo.gravedad.nombre}">gravedad</dd>
                    <dt>Subido por</dt>
                    <dd th:text="${reclamo.usuario.nombre}">por</dd>
                    <dt>Direcci&oacute;n</dt>
                    <dd th:text="${reclamo.direccion}"></dd>
                    <dd>
                        <div id="map">

                        </div>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <span th:if="${!session.isEmpty()}">
                <div class="col-sm-2">
                    <div class="dropdown">
                        <button id="btn-notifica" class="btn btn-default dropdown-toggle" type="button"
                                data-toggle="dropdown">Notificar
                            <span class="caret"></span></button>
                        <ul id="dropdown-notifica" class="dropdown-menu">
                            <li><a id="notify" th:href="@{'/solucionado'}">Solucionado</a></li>
                            <li><a id="notify-not" th:href="@{'/solucionado'}">No Solucionado</a></li>
                        </ul>
                    </div>
                </div>
                <div id="div_seguir" class="col-sm-2">
                    <a id="seguir" th:class="${claseCss}">Seguir</a>
                </div>
            </span>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <!-- /.post-content-->
                <h4><span th:text="${comentarios.size()}"></span> Comentarios</h4>
                <div class="comments" th:each="comentario,status : ${comentarios}">
                    <div class="row comment">
                        <div class="col-sm-3 col-md-2 text-center-xs">
                            <p><img src="/img/psicopata.png" alt="" class="img-responsive img-circle"/></p>
                        </div>
                        <div class="col-sm-9 col-md-10">
                            <h5><span th:text="${comentario.usuario.nombre}"></span> <span
                                    th:text="${comentario.usuario.apellidos}"></span></h5>
                            <p class="posted"></p>
                            <p class="text-gray" th:text="${comentario.comentario}"></p>
                            <p class="reply">
                                <!-- <a href="#" th:if="${comentario.usuario.idUsuario == session.idUser}"><i class="fa fa-edit"></i> Editar</a> -->
                                <a id="delete"
                                   th:if="${comentario.usuario.idUsuario == session.idUser || session.status == 'admin'}"
                                   th:href="@{${'/reclamo2/delete?comentario=' + comentario.idComentario + '&amp;reclamo=' + reclamo.idReclamo}}"><i
                                        class="fa fa-trash" data-toggle="tooltip" title="Eliminar"></i> Eliminar</a></p>
                        </div>
                    </div>
                </div>
                <!-- /#comments-->
                <span th:if="${!session.isEmpty()}">
            <div class="comment-form">
                <h4>Escribe un Comentario</h4>
                <form method="POST" action="/reclamo2/comentar">
                    <input type="hidden" name="id_reclamo" th:value="${reclamo.idReclamo}"/>
                    <input type="hidden" name="id_usuario" th:value="${session.idUser}"/>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="comment">Comentar <span class="required">*</span></label>
                                <textarea id="comment" name="comment" rows="4" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-primary"><i
                                    class="fa fa-comment-o"></i> Publicar</button>
                        </div>
                    </div>
                </form>
            </div>
            </span>
            </div>
        </div>
    </div>


</div>


</body>

<!--/*/ <th:block th:replace="fragments/footer :: footer"></th:block> /*/-->
<script th:src="@{/js/flickity.pkgd.min.js}"></script>
<script th:src="@{/js/gmap3.min.js}"></script>

<script type="application/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('#delete').confirm({
            title: 'Eliminar',
            content: 'Est&aacute; seguro(a) que desea eliminar el elemento',
            buttons: {
                confirm: {
                    text: 'Aceptar',
                    btnClass: 'btn btn-danger',
                    action: function () {
                        location.href = this.$target.attr('href');
                    }
                },

            }
        });
    });

</script>
<script th:inline="text">

    $('.carousel').flickity({
        imagesLoaded: true,
        percentPosition: false,
        cellAlign: 'center',
    });
    $('#map')
        .gmap3({
            address: "[[${reclamo.direccion}]]!,Chillan",
            zoom: 16,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        })
        .marker([
            {address: "[[${reclamo.direccion}]]!,Chillan"}
        ]);


</script>
<script th:inline="javascript">
    $(document).ready(function () {
        /*if(btnSeguir.attr('class') == "btn btn-danger"){
         btnSeguir.text("Dejar de Seguir");
         }*/
        $('.btn-danger').text("Dejar de Seguir");
    });
    $('#seguir').click(function (e) {
        e.preventDefault();
        var seguir = {
            mail: /*[[${session.usuario}]]*/"hans693@gmail.com",
            idReclamo: /*[[${reclamo.idReclamo}]]*/"reclamo",
            mail: /*[[${session.usuario}]]*/"hans693@gmail.com"
        };
        var url = "";
        console.log($(this).attr('class'));
        if ($(this).attr('class') === "btn btn-primary") {
            $.confirm({
                title: 'Confirmar!',
                content: '¿Seguir?',
                buttons: {
                    confirm: {
                        text: 'Confirmar',
                        btnClass: 'btn btn-danger',
                        action : function () {
                            url = /*[[@{/seguir}]]*/"seguir";
                            $.ajax({
                                type: 'POST',
                                url: url,
                                contentType: "application/json",
                                data: JSON.stringify(seguir),
                                dataType: "json",
                                success: function (response) {
                                    console.log(response);
                                    if ($('#seguir').attr('class') == "btn btn-primary") {
                                        console.log($('#seguir'));
                                        $('#seguir').removeClass("btn-primary");
                                        $('#seguir').addClass("btn-danger");
                                        $('#seguir').text("Dejar de Seguir");

                                    } else {
                                        console.log($('#seguir').attr('class'));
                                        $('#seguir').removeClass("btn-danger");
                                        $('#seguir').addClass("btn-primary");
                                        $('#seguir').text("Seguir");
                                    }
                                },
                                failure: function () {
                                    console.log("fallo");
                                }

                            });
                        }
                    },
                    cancel: {
                        text: 'Cancelar',
                        action: function () {
                            $.alert('Cancelado!');

                        }
                    },
                }
            });

        } else {
            $.confirm({
                title: 'Confirmar!',
                content: '¿Dejar de seguir?',
                buttons: {
                    confirm: {
                        text: 'Confirmar',
                        btnClass: 'btn btn-danger',
                        action : function () {
                            url = /*[[@{/dejarSeguir}]]*/"seguir";
                            $.ajax({
                                type: 'POST',
                                url: url,
                                contentType: "application/json",
                                data: JSON.stringify(seguir),
                                dataType: "json",
                                success: function (response) {
                                    console.log(response);
                                    if ($('#seguir').attr('class') == "btn btn-primary") {
                                        console.log($('#seguir'));
                                        $('#seguir').removeClass("btn-primary");
                                        $('#seguir').addClass("btn-danger");
                                        $('#seguir').text("Dejar de Seguir");

                                    } else {
                                        console.log($('#seguir').attr('class'));
                                        $('#seguir').removeClass("btn-danger");
                                        $('#seguir').addClass("btn-primary");
                                        $('#seguir').text("Seguir");
                                    }
                                },
                                failure: function () {
                                    console.log("fallo");
                                }

                            });
                        }
                    },
                    cancel: {
                        text: 'Cancelar',
                        action: function () {
                            $.alert('Cancelado!');

                        }
                    },
                }
            });
        }

    });
    var contador = /*[[${reclamo.contador}]]*/0;
    if (parseInt(contador) === 6) {
        $('#btn-notifica').text("Solucionado");
        $('#notify').parent("li").addClass("disabled");
        $('#notify-not').parent("li").addClass("disabled");
    }


    $('#notify').click(function (e) {
        e.preventDefault();

        var notify = {
            contador: /*[[${reclamo.contador}]]*/"0",
            idReclamo: /*[[${reclamo.idReclamo}]]*/"0",
            mail: /*[[${session.usuario}]]*/"hans693@gmail.com"
        };

        var url = /*[[@{/solucionado}]]*/"/solucionado";

        $.ajax({
            type: 'POST',
            url: url,
            contentType: "application/json",
            data: JSON.stringify(notify),
            dataType: "json",
            success: function (response) {
                console.log(response);
                $('#notify').parent("li").addClass("disabled");
                $('#notify-not').parent("li").removeClass("disabled");
                if (parseInt(response.success) === 6) {
                    console.log("do something");
                    $.alert({
                        title: 'Notificar!',
                        content: 'Gracias por notificar!',
                    });
                } else {
                    $.alert({
                        title: 'Notificar!',
                        content: 'Gracias por notificar!',
                    });
                }
            },
            failure: function () {
                console.log("fallo");
            }

        });
    });

    $('#notify-not').click(function (e) {
        e.preventDefault();

        var notify = {
            contador: /*[[${reclamo.contador}]]*/"0",
            idReclamo: /*[[${reclamo.idReclamo}]]*/"0",
            mail: /*[[${session.usuario}]]*/"hans693@gmail.com"
        };

        var url = /*[[@{/noSolucionado}]]*/"/solucionado";

        $.ajax({
            type: 'POST',
            url: url,
            contentType: "application/json",
            data: JSON.stringify(notify),
            dataType: "json",
            success: function (response) {
                console.log(response);
                $('#notify').parent("li").removeClass("disabled");
                $('#notify-not').parent("li").addClass("disabled");
                $.alert({
                    title: 'Notificar!',
                    content: 'Gracias por notificar!',
                });
            },
            failure: function () {
                console.log("fallo");
            }

        });
    });
</script>
</html>