<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">

    <title>Usuarios</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<div class="container">
    <h2 th:inline="text">[[${titulo}]]</h2>
    <div>
        <div class="row">
            <p>Lamentablemente el correo ingresado ya existe en nuestra base de datos y no es posible repetir :(</p>
            <p>Intenta nuevamente con otro correo o prueba recuperando la contraseña</p>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a type="button" class="btn btn-default"
                       th:href="@{'/registrar'}">Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<!--/*/ <th:block th:replace="fragments/footer :: footer"></th:block> /*/-->
</html>