<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">

    <title>Usuarios</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<div class="container">
    <h2 th:inline="text">[[${titulo}]]</h2>
    <div>
        <div class="row">
            <form class="form-horizontal" th:object="${usuario}"
                  th:action="@{/usuario}" method="post">
                <input type="hidden" th:field="*{idUsuario}"/>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nombre:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{nombre}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Apellidos:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{apellidos}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Correo:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{mail}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Correo:</label>
                    <div class="col-sm-10">
                        <select th:field="*{idPerfil}" class="form-control">
                            <option selected="selected" th:value="2">Usuario</option>
                            <option th:value="1">Administrador</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Contrase&ntilde;a:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{password}"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                        <a type="button" class="btn btn-default"
                           th:href="@{'/usuarios'}">Volver</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

</body>
<!--/*/ <th:block th:replace="fragments/footer :: footer"></th:block> /*/-->
</html>