<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">

<title>Tipos</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	<div class="container">
		<div align="center">
			<h1>Usuarios</h1>
			<a class="btn btn-primary" th:href="@{'usuario/nuevo'}">Agregar
				Usuario</a> <a class="btn btn-default" th:href="@{'/'}">Inicio</a> <br />
			<br />
			<form class="form" th:action="@{/searchUsuario}"
				  method="get">
				<div class="form-group" role="search">
					<div class="input-group">
						<input class="form-control" id="s" name="s" type="text"
							   placeholder="Buscar por Nombre"/>
					</div>
				</div>
			</form>
			<div th:if="${not #lists.isEmpty(usuarios)}">
				<table class="table table-striped">
					<thead>
						<!-- head table -->
						<tr>
							<th>#</th>
							<th>Nombre</th>
							<th>Apellidos</th>
							<th>Email</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<!-- fin head -->
					<tbody>
						<!-- body table -->
						<tr th:each="usuario,status : ${usuarios}">
							<td th:text="${status.index+1}"><a
								href="/usuario/${usuario.idUsuario}">#</a></td>
							<td th:text="${usuario.nombre}">nombre</td>
							<td th:text="${usuario.apellidos}">apellidos</td>
							<td th:text="${usuario.mail}">email</td>
							<td><a th:href="@{${'/usuario/' + usuario.idUsuario }}"><i
									class="fa fa-eye" data-toggle="tooltip" title="Ver"></i></a> <a
								th:href="@{${'/usuario/modificar/' + usuario.idUsuario}}"><i
									class="fa fa-pencil" data-toggle="tooltip" title="Modificar"></i></a>
								<a th:href="@{${'/usuario/eliminar/' + usuario.idUsuario}}"
								id="delete"><i class="fa fa-trash" data-toggle="tooltip"
									title="Eliminar"></i></a></td>
						</tr>
					</tbody>
					<!-- fin body -->
				</table>

			</div>
		</div>
	</div>

</body>
<!--/*/ <th:block th:replace="fragments/footer :: footer"></th:block> /*/-->
<script th:replace="fragments/confirm :: confirm"></script>
</html>