<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">

<title>Ver Usuario</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	<div class="container">
		<h2>Detalle del Usuario</h2>
		<div>
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label">Id Usuario:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${usuario.idUsuario}">Id
							Usuario</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Nombre:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${usuario.nombre}">nombre</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Apellidos:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${usuario.apellidos}">apellidos</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Correo:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${usuario.mail}">correo</p>
					</div>
				</div>
			</form>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a class="btn btn-default"
						th:href="@{'/usuarios'}">Volver</a>
				</div>
			</div>
		</div>
	</div>
</body>
<!--/*/ <th:block th:replace="fragments/footer :: footer"></th:block> /*/-->
</html>