<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">

<title>Estadisticas</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	<div class="container">
		<div class="row">
			<div class="col-md-offset-4">
				<h2>Vista General Estad&iacute;sticas</h2>
			</div>
		</div>
		<div class="row">
			<a class="btn btn-primary form-control" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
				Filtro de B&uacute;squeda
			</a>
		</div>
		<div class="collapse" id="collapseExample">
			<div class="well">
				<form class="form-horizontal" th:action="@{/estadistica/detalle}" method="get">
					<div class="form-group">
						<label for="Tipo">Tipo:</label>
						<select name="tipo" class="form-control" id="Tipo">
							<option value="all">Todos</option>
							<option th:each="tipo : ${listaTipos}" th:value="${tipo.idTipo}"
									th:text="${tipo.nombre}"></option>
						</select>
					</div>

					<div class="form-group">
						<label for="Gravedad">Gravedad:</label>
						<select name="gravedad" class="form-control" id="Gravedad">
							<option value="all">Todos</option>
							<option th:each="gravedad : ${listaGravedades}" th:value="${gravedad.idGravedad}"
									th:text="${gravedad.nombre}"></option>
						</select>
					</div>

					<div class="form-group">
						<label for="Estado">Estado:</label>
						<select name="estado" class="form-control" id="Estado">
							<option value="all">Todos</option>
							<option th:each="estado : ${listaEstados}" th:value="${estado.idEstado}"
									th:text="${estado.descripcion}"></option>
						</select>
					</div>

					<div class="form-group">
						<label for="fecha1">Fecha1:</label>
						<div class="input-group">
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</div>
							<input type="text" placeholder="YYYY-MM-DD"  data-date-format="yyyy-mm-dd" class="form-control" id="fecha1"  th:value="${fecha1}" name="fecha1" required="required"/>
						</div>
					</div>

					<div class="form-group">
						<label for="fecha2">Fecha2:</label>
						<div class="input-group">
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</div>
							<input type="text" placeholder="YYYY-MM-DD"  data-date-format="yyyy-mm-dd" class="form-control" id="fecha2" th:value="${fecha2}" name="fecha2" required="required"/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-6 col-sm-6">
							<button type="submit" class="btn btn-primary">Buscar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<a class="btn btn-primary" th:href="@{'/estadistica/export?fecha1='+${fecha1}+'&amp;fecha2='+${fecha2}}">Emitir Reporte (Excel)</a><br />
		</div>
		<div align="center">
			<br/><br/>
			<div class="panel panel-primary">
				<div class="panel-heading"><h4 style="margin-bottom: 0px">Cantidad de Reclamos en el Per&iacute;odo "<span th:text="${fecha1}">Fecha1</span>" a "<span th:text="${fecha2}">Fecha2</span>"</h4></div>
				<div class="panel-body">
					<h2>Total: <span th:text="${totalReclamosPeriodo}">Total</span></h2>
				</div>
			</div>
			<br/><br/>
			<div th:if="${not #lists.isEmpty(frecuenciaTipos)}">
				<div class="panel panel-primary">
					<div class="panel-heading"><h4 style="margin-bottom: 0px">Frecuencia Relativa Por Tipo</h4></div>
					<div class="panel-body">
						<table class="table table-striped">
							<tr>
								<th>Tipo</th>
								<th>Cantidad</th>
								<th>Porcentaje</th>
							</tr>
							<tr th:each="fila : ${frecuenciaTipos}">
								<td th:text="${fila[1]}">Tipo</td>
								<td th:text="${fila[2]}">Cantidad</td>
								<td th:text="${fila[3]}+'%'">Porcentaje</td>
							</tr>
						</table>
						<div class="row">
							<a class="btn btn-primary form-control" role="button" data-toggle="collapse" href="#collapseTipo" aria-expanded="false" aria-controls="collapseTipo">
								Expandir Gr&aacute;fico
							</a>
						</div>
						<div class="collapse" id="collapseTipo">
							<div class="well">
								<canvas id="myChart" width="300" height="300"></canvas>
							</div>
						</div>

					</div>
				</div>
			</div>
			<br/><br/>
			<div th:if="${not #lists.isEmpty(frecuenciaGravedades)}">
				<div class="panel panel-primary">
					<div class="panel-heading"><h4 style="margin-bottom: 0px">Frecuencia Relativa Por Gravedad</h4></div>
					<div class="panel-body">
						<table class="table table-striped">
							<tr>
								<th>Gravedad</th>
								<th>Cantidad</th>
								<th>Porcentaje</th>
							</tr>
							<tr th:each="fila : ${frecuenciaGravedades}">
								<td th:text="${fila[1]}">Gravedad</td>
								<td th:text="${fila[2]}">Cantidad</td>
								<td th:text="${fila[3]}+'%'">Porcentaje</td>
							</tr>
						</table>
						<div class="row">
							<a class="btn btn-primary form-control" role="button" data-toggle="collapse" href="#collapseGravedad" aria-expanded="false" aria-controls="collapseGravedad">
								Expandir Gr&aacute;fico
							</a>
						</div>
						<div class="collapse" id="collapseGravedad">
							<div class="well">
								<canvas id="chartGravedad" width="300" height="300"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br/><br/>
			<div th:if="${not #lists.isEmpty(frecuenciaEstados)}">
				<div class="panel panel-primary">
					<div class="panel-heading"><h4 style="margin-bottom: 0px">Frecuencia Relativa Por Estado</h4></div>
					<div class="panel-body">
						<table class="table table-striped">
							<tr>
								<th>Estado</th>
								<th>Cantidad</th>
								<th>Porcentaje</th>
							</tr>
							<tr th:each="fila : ${frecuenciaEstados}">
								<td th:text="${fila[1]}">Estado</td>
								<td th:text="${fila[2]}">Cantidad</td>
								<td th:text="${fila[3]}+'%'">Porcentaje</td>
							</tr>
						</table>
						<div class="row">
							<a class="btn btn-primary form-control" role="button" data-toggle="collapse" href="#collapseEstado" aria-expanded="false" aria-controls="collapseEstado">
								Expandir Gr&aacute;fico
							</a>
						</div>
						<div class="collapse" id="collapseEstado">
							<div class="well">
								<canvas id="chartEstado" width="300" height="300"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br/><br/>
			<div th:if="${not #lists.isEmpty(tablaResumen)}">
				<div class="panel panel-primary">
					<div class="panel-heading"><h4 style="margin-bottom: 0px">Detalle Tabla Resumen</h4></div>
					<div class="panel-body">
						<table class="table table-striped">
							<tr>
								<th>Tipo</th>
								<th>Gravedad</th>
								<th>Estado</th>
								<th>Cantidad</th>
								<th>Porcentaje</th>
							</tr>
							<tr th:each="fila : ${tablaResumen}">
								<td th:text="${fila[0]}">Tipo</td>
								<td th:text="${fila[1]}">Gravedad</td>
								<td th:text="${fila[2]}">Estado</td>
								<td th:text="${fila[3]}">Cantidad</td>
								<td th:text="${fila[4]}+'%'">Porcentaje</td>
							</tr>
						</table>
					</div>
				</div>
			</div>

		</div>
	</div>

</body>
<!--/*/ <th:block th:replace="fragments/footer :: footer"></th:block> /*/-->
<!-- DatePicker-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.es.min.js"
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.es.min.js}"></script>
<script th:inline="text">
    $(document).ready(function () {
        $('#fecha1').datepicker({
            format: 'yyyy-mm-dd',
            language: 'es',
        })
        $('#fecha2').datepicker({
            format: 'yyyy-mm-dd',
            language: 'es',
        })
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
    var ctx = document.getElementById("myChart");

    var tipos = /*[[${frecuenciaTipos}]]*/"Nulo Fatal";
    var i=0;
    var cantidadFrecuenciaTipos= tipos.length;
    var etiquetas = [];
    var datos = [];
    for(i=0; i<cantidadFrecuenciaTipos; i++){
		etiquetas[i] = tipos[i][1];
        datos[i] = tipos[i][2];
    }

    var data = {
        labels: etiquetas,
        datasets: [
            {
                data: datos,
                backgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                ],
                hoverBackgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                ]
            }]
    };
    var myChart = new Chart(ctx,{
        type: 'pie',
        data: data,
        options: {
            maintainAspectRatio: true,
            responsive: false
        }
    });

	/*]]>*/
</script>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
    var ctx = document.getElementById("chartGravedad");

    var tipos = /*[[${frecuenciaGravedades}]]*/"Nulo Fatal";
    var i=0;
    var cantidadFrecuenciaGravedad= tipos.length;
    var etiquetas = [];
    var datos = [];
    for(i=0; i<cantidadFrecuenciaGravedad; i++){
        etiquetas[i] = tipos[i][1];
        datos[i] = tipos[i][2];
    }

    var data = {
        labels: etiquetas,
        datasets: [
            {
                data: datos,
                backgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                ],
                hoverBackgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                ]
            }]
    };
    var myChart = new Chart(ctx,{
        type: 'pie',
        data: data,
        options: {
            maintainAspectRatio: true,
            responsive: false
        }
    });

	/*]]>*/
</script>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
    var ctx = document.getElementById("chartEstado");

    var tipos = /*[[${frecuenciaEstados}]]*/"Nulo Fatal";
    var i=0;
    var cantidadFrecuenciaEstado= tipos.length;
    var etiquetas = [];
    var datos = [];
    for(i=0; i<cantidadFrecuenciaEstado; i++){
        etiquetas[i] = tipos[i][1];
        datos[i] = tipos[i][2];
    }

    var data = {
        labels: etiquetas,
        datasets: [
            {
                data: datos,
                backgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                ],
                hoverBackgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                ]
            }]
    };
    var myChart = new Chart(ctx,{
        type: 'pie',
        data: data,
        options: {
            maintainAspectRatio: true,
            responsive: false
        }
    });

	/*]]>*/
</script>
</html>