<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">

<title>Estadisticas</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	<div class="container">
		<div class="row">
			<div class="col-md-offset-4">
				<h2>Vista Detalle</h2>
			</div>
		</div>

		<div th:if="${not #lists.isEmpty(reclamos)}">
			<table class="table table-striped">
				<tr>
					<th>#</th>
					<th>Nombre</th>
					<th>Direcci&oacute;n</th>
					<th>Estado</th>
					<th>Comentarios</th>
					<th>Ver</th>
				</tr>
				<tr th:each="reclamo,status : ${reclamos}">
					<td th:text="${status.index+1}"><a
							href="/reclamo/${reclamo.idReclamo}">#</a></td>
					<td th:text="${reclamo.nombre}">Nombre</td>
					<td th:text="${reclamo.direccion}">direccion</td>
					<td th:text="${reclamo.estado.descripcion}">estado</td>
					<td th:text="${reclamo.comentarios.size()}">comentarios</td>
					<td><a th:href="@{${'/reclamo2/' + reclamo.idReclamo }}"><i
							class="fa fa-eye" data-toggle="tooltip" title="Ver"></i></a>
					</td>

				</tr>
			</table>

		</div>
	</div>

</body>
<!--/*/ <th:block th:replace="fragments/footer :: footer"></th:block> /*/-->
<!-- DatePicker-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.es.min.js"
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.es.min.js}"></script>
<script th:inline="text">
    $(document).ready(function () {
        $('#fecha1').datepicker({
            format: 'yyyy-mm-dd',
            language: 'es',
        })
        $('#fecha2').datepicker({
            format: 'yyyy-mm-dd',
            language: 'es',
        })
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
    var ctx = document.getElementById("myChart");

    var tipos = /*[[${frecuenciaTipos}]]*/"Nulo Fatal";
    var i=0;
    var cantidadFrecuenciaTipos= tipos.length;
    var etiquetas = [];
    var datos = [];
    for(i=0; i<cantidadFrecuenciaTipos; i++){
		etiquetas[i] = tipos[i][1];
        datos[i] = tipos[i][2];
    }

    var data = {
        labels: etiquetas,
        datasets: [
            {
                data: datos,
                backgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                ],
                hoverBackgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                ]
            }]
    };
    var myChart = new Chart(ctx,{
        type: 'pie',
        data: data,
        options: {
            maintainAspectRatio: true,
            responsive: false
        }
    });

	/*]]>*/
</script>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
    var ctx = document.getElementById("chartGravedad");

    var tipos = /*[[${frecuenciaGravedades}]]*/"Nulo Fatal";
    var i=0;
    var cantidadFrecuenciaGravedad= tipos.length;
    var etiquetas = [];
    var datos = [];
    for(i=0; i<cantidadFrecuenciaGravedad; i++){
        etiquetas[i] = tipos[i][1];
        datos[i] = tipos[i][2];
    }

    var data = {
        labels: etiquetas,
        datasets: [
            {
                data: datos,
                backgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                ],
                hoverBackgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                ]
            }]
    };
    var myChart = new Chart(ctx,{
        type: 'pie',
        data: data,
        options: {
            maintainAspectRatio: true,
            responsive: false
        }
    });

	/*]]>*/
</script>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
    var ctx = document.getElementById("chartEstado");

    var tipos = /*[[${frecuenciaEstados}]]*/"Nulo Fatal";
    var i=0;
    var cantidadFrecuenciaEstado= tipos.length;
    var etiquetas = [];
    var datos = [];
    for(i=0; i<cantidadFrecuenciaEstado; i++){
        etiquetas[i] = tipos[i][1];
        datos[i] = tipos[i][2];
    }

    var data = {
        labels: etiquetas,
        datasets: [
            {
                data: datos,
                backgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                ],
                hoverBackgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                ]
            }]
    };
    var myChart = new Chart(ctx,{
        type: 'pie',
        data: data,
        options: {
            maintainAspectRatio: true,
            responsive: false
        }
    });

	/*]]>*/
</script>
</html>