<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">
    <meta charset="UTF-8" />
    <th:block th:include="fragments/headerinc :: head"></th:block>
    <title th:inline="text">[[${titulo}]]</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-offset-4">
            <h2 th:inline="text"> [[${titulo}]]</h2>
        </div>
    </div>
    <th:block th:include="fragments/header :: header"></th:block>

    <div class="row">
        <a class="btn btn-primary form-control" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Filtro de B&uacute;squeda
        </a>
    </div>
    <div class="collapse" id="collapseExample">
        <div class="well">
            <form class="form-horizontal" th:action="@{/mapa/filtro}" method="get">
                <div class="form-group">
                    <label for="Tipo">Tipo:</label>
                    <select name="tipo" class="form-control" id="Tipo">
                        <option value="all">Todos</option>
                        <option th:each="tipo : ${listaTipos}" th:value="${tipo.idTipo}"
                                th:text="${tipo.nombre}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="Gravedad">Gravedad:</label>
                    <select name="gravedad" class="form-control" id="Gravedad">
                        <option value="all">Todos</option>
                        <option th:each="gravedad : ${listaGravedades}" th:value="${gravedad.idGravedad}"
                                th:text="${gravedad.nombre}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="Estado">Estado:</label>
                    <select name="estado" class="form-control" id="Estado">
                        <option value="all">Todos</option>
                        <option th:each="estado : ${listaEstados}" th:value="${estado.idEstado}"
                                th:text="${estado.descripcion}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="fecha1">Fecha1:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                        <input type="text" placeholder="YYYY-MM-DD"  data-date-format="yyyy-mm-dd" class="form-control" id="fecha1"  name="fecha1" required="required"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="fecha2">Fecha2:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                        <input type="text" placeholder="YYYY-MM-DD"  data-date-format="yyyy-mm-dd" class="form-control" id="fecha2"  name="fecha2" required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-6 col-sm-6">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <h4 style="padding-left: 15px">Resultados Arrojados: <span th:text="${totalQuery}">Total</span></h4>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div id="map" style="height:600px;"></div>
        </div>
    </div>

</div>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmoQf_y62JdPGfiWm_8YsJFDn-uHWVNDY">
</script>
    <!--/*/ <th:block th:replace="fragments/footer :: footer"></th:block> /*/-->
<script type="text/javascript" th:inline="javascript">
    function initMap() {
        var chillan = new google.maps.LatLng(-36.606287, -72.102404);
        var opciones = {
            zoom: 13,
            center: chillan,
            //scrollwheel: false,
            streetViewControl: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP
            //Otras opciones pueden ser HYBRYD, SATELLITE, TERRAIN
        };
        var div = document.getElementById('map');
        var map = new google.maps.Map(div, opciones);

        agregarMarcadores(map);

    }//*** FIN función initMap ***
    window.onload = initMap;

    marcadores = [];
    function agregarMarcadores(map){

        /*<![CDATA[*/
        var bounds = new google.maps.LatLngBounds();
        var jsonReclamos = /*[[${prueba}]]*/"Sin jackson";
        var reclamos = JSON.parse(jsonReclamos);

        var i=0;
            var cantidadReclamos=reclamos.length;
            for(i=0; i<cantidadReclamos; i++){
            var problema = reclamos[i]['nombre'];
            var fecha = reclamos[i]['fecha'];

            if(reclamos[i]['imagens'] !=0){
                var ruta = reclamos[i]['imagens'][0]['archivo'];
            }else{
                var ruta = "nada.jpg";
            }

            eval("var contentString"+i);
            eval("contentString"+i+" = '<div class=\"row\">" +
                    "<div class=\"col-lg-6 col-md-6 col-sm-6\">" +
                        "<img src=\"/img/reclamos/"+ruta+"\" width=\"150px\" class=\"i\"/>" +
                    "</div>" +
                    "<div style=\"width:150px;\" class=\"col-lg-6 col-md-6 col-sm-6\">" +
                        "<div style=\"font-weight:bold;\">Problema</div>" +
                        "<br/><div>"+problema+"</div>"+
                        "<br/><div style=\"font-weight:bold;\">Fecha</div>" +
                        "<br/><div>"+fecha+"</div>"+
                    "</div>" +
                "</div>'");

            eval("var infowindow"+i+" = new google.maps.InfoWindow({content: contentString"+i+", maxWidth: 600});");

            var latitud = reclamos[i]['latitud'];
            var longitud =  reclamos[i]['longitud'];

            var gravedad = reclamos[i]['gravedad']['idGravedad'];
            var id = reclamos[i]['idReclamo'];

            eval("var marcador"+i+" = new google.maps.Marker({"+
            "position: new google.maps.LatLng(latitud, longitud),"+
                "map: map,"+
                "icon: '/img/marcadores/marcador"+gravedad+".png',"+
                "gravedad: '"+gravedad+"',"+
                "title: 'Click para más detalles',"+
                "visible: true});");


            //marcadores.push(eval("marcador"+i));
            // console.log("Gravedad"+marcador<?php echo $i; ?>.gravedad);

            eval("marcador"+i+".addListener('mouseover', function(){ infowindow"+i+".open(map, marcador"+i+");});");

            eval("marcador"+i+".addListener('mouseout', function(){ infowindow"+i+".close(map, marcador"+i+");});");

            eval("marcador"+i+".addListener('click', function(){ window.location='/reclamo2/"+id+"';});");

            eval("marcador"+i+".setMap(map);");
            eval("bounds.extend(marcador"+i+".getPosition());");
            map.fitBounds(bounds);
        }//FIN FOR



        /*]]>*/
    }//FIN función agregarMarcadores()
</script>

</body>
<!-- DatePicker-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"
        th:src="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.es.min.js"
        th:src="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.es.min.js}"></script>
<script th:inline="text">
    $(document).ready(function () {
        $('#fecha1').datepicker({
            format: 'yyyy-mm-dd',
            language: 'es',
        })
        $('#fecha2').datepicker({
            format: 'yyyy-mm-dd',
            language: 'es',
        })
    });
</script>
</html>