<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">



<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
<title>Gravedades</title>
</head>
<body>
	<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

	<div class="container">
		<div align="center">
			<h1>Gravedades</h1>
			<a class="btn btn-primary" th:href="@{'gravedad/nuevo'}">Agregar
				gravedad</a> <a class="btn btn-default" th:href="@{'/'}">Inicio</a> <br />
			<br />
			<div th:if="${not #lists.isEmpty(gravedades)}">
				<table class="table table-striped">
					<tr>
						<th>#</th>
						<th>Nombre</th>
						<th>Descripci&oacute;n</th>
						<th>Acciones</th>
					</tr>
					<tr th:each="gravedad,status : ${gravedades}">
						<td th:text="${status.index+1}"><a
							th:href="@{'/gravedad/' + ${gravedad.idGravedad}">#</a></td>
						<td th:text="${gravedad.nombre}">Gravedad Id</td>
						<td th:text="${gravedad.descripcion}">Descripci&oacute;n</td>
						<td><a th:href="@{${'/gravedad/' + gravedad.idGravedad }}"><i
								class="fa fa-eye" data-toggle="tooltip" title="Ver"></i></a> <a
							th:href="@{${'/gravedad/modificar/' + gravedad.idGravedad}}"><i
								class="fa fa-pencil" data-toggle="tooltip" title="Modificar"></i></a>
							<a id="delete" th:href="@{${'/gravedad/eliminar/' + gravedad.idGravedad}}"><i
								class="fa fa-trash" data-toggle="tooltip" title="Eliminar"></i></a></td>
					
					</tr>
				</table>

			</div>
		</div>
	</div>

</body>
<!--/*/ <th:block th:replace="fragments/footer :: footer"></th:block> /*/-->
<script th:replace="fragments/confirm2 :: confirm">
	
</script>
</html>