<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">

<title>Ver gravedad</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	<div class="container">
		<h2>Detalle de la Gravedad</h2>
		<div>
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label">Id Gravedad:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${gravedad.idGravedad}">Id
							Gravedad</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Nombre:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${gravedad.nombre}">nombre</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Descripcion:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${gravedad.descripcion}">descripcion</p>
					</div>
				</div>
			</form>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a type="button" class="btn btn-default"
								th:href="@{'/gravedades'}">Volver</a>
				</div>
			</div>
		</div>
	</div>

</body>
<!--/*/ <th:block th:replace="fragments/footer :: footer"></th:block> /*/-->
</html>