<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">

</head>
<body>

<header class="header">
      <div role="navigation" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header"><a th:href="@{'/'}" class="navbar-brand">ReclamoCiudadano</a>
            <div class="navbar-buttons">
              <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="fa fa-align-justify"></i></button>
            </div>
          </div>
          <div id="navigation" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
              <li class="active"><a th:href="@{'/'}">INICIO</a></li>
              <li><a th:href="@{'/mapa/index'}">MAPA</a></li>
              <li><a th:href="@{'/reclamos2'}">Reclamos</a> </li>
              <li th:if="${!session.isEmpty()}"><a th:href="@{'/reclamo/nuevo'}">Agregar Reclamo</a> </li>
              <th:block th:if="${!session.isEmpty()}">
                <li th:if="${session.status} == 'admin'" class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">CRUDS <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a th:href="@{'/tipos'}">Tipos</a></li>
                    <li><a th:href="@{'/gravedades'}">Gravedades</a></li>
                    <li><a th:href="@{'/usuarios'}">Usuarios</a></li>
                    <li><a th:href="@{'/reclamos'}">Reclamos</a></li>
                  </ul>
                </li>
              </th:block>
              <th:block th:if="${!session.isEmpty()}">
                <li th:if="${session.status} == 'admin'">
                  <a th:href="@{'/estadistica/forminicial'}">Estad&iacute;stica</a>
                </li>
              </th:block>

              <li><a href="contact.html">CONTACTO</a></li>
            </ul>
            <a th:if="${session.isEmpty()}" href="#" data-toggle="modal" data-target="#login-modal" class="btn navbar-btn btn-ghost"><i class="fa fa-sign-in"></i>Iniciar Sesión</a>
            <a th:if="${!session.isEmpty()}" href="#" class="btn navbar-btn btn-ghost" onclick="document.getElementById('LogoutForm').submit()"><i class="fa fa-sign-in"></i>Salir</a>
          </div>
        </div>
      </div>

  <form action="/logout" method="POST" id="LogoutForm">
    <input type="hidden" name="action" value="logout" />
  </form>
  <div id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
          <h4 id="Login" class="modal-title">Ingresar Sistema</h4>
        </div>
        <div class="modal-body">
          <form action="/login" method="POST">
            <input type="hidden" name="action" value="login" />
            <div class="form-group">
              <input id="email_modal" type="email" name="correo" placeholder="correo" class="form-control" required="required" />
            </div>
            <div class="form-group">
              <input id="password_modal" type="password" name="password" placeholder="password" class="form-control" required="required" />
            </div>
            <p class="text-center">
              <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Login</button>
            </p>
          </form>
          <p class="text-center text-muted">¿Sin Cuenta?</p>
          <p class="text-center text-muted"><a href="/registrar"><strong>Cree su cuenta ahora</strong></a>! Es fácil, en menos de 1 minuto podrá completar el formulario!</p>
        </div>
      </div>
    </div>
  </div>
    </header>

</body>
</html>