<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es" th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Bootstrap CSS-->
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="robots" content="all,follow"/>

    <!-- Font Awesome and Pixeden Icon Stroke icon fonts-->
    <link rel="stylesheet" media="screen"
          href="../../static/css/font-awesome.min.css"
          th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" media="screen"
          href="../../static/css/pe-icon-7-stroke.css"
          th:href="@{/css/pe-icon-7-stroke.css}"/>

    <!-- Google fonts - Roboto-->
    <link rel="stylesheet" media="screen"
          href="http://fonts.googleapis.com/css?family=Roboto:300,400,700"/>

    <!-- lightbox-->
    <link rel="stylesheet" media="screen"
          href="../../static/css/lightbox.min.css"
          th:href="@{/css/lightbox.min.css}"/>

    <!-- theme stylesheet-->
    <link rel="stylesheet" media="screen"
          href="../../static/css/style.default.css" id="theme-stylesheet"
          th:id="theme-stylesheet" th:href="@{/css/style.default.css}"/>

    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" media="screen" href="../../static/css/custom.css"
          th:href="@{/css/custom.css}"/>

    <!-- jQuery Confirm -->
    <link rel="stylesheet" media="screen"
          href="../../static/css/jquery-confirm.min.css"
          th:href="@{/css/jquery-confirm.min.css}"/>

    <!-- Footer Fix -->
    <link rel="stylesheet" media="screen"
          href="../../static/css/footer-fix.css" th:href="@{/css/footer-fix.css}"/>

    <!-- Favicon-->
    <link rel="shortcut icon" media="screen" href="../static/favicon.png"
          th:href="@{/favicon.png}"/>
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <title>Reclamo Ciudadano</title>
</head>
<body>

</body>
</html>