
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Padding para la navbar-fixed*/
    padding-top: 70px;

}
footer{
   /* position: absolute;
    bottom: 0;
    width: 100%;*/
    /* Set the fixed height of the footer here */
    margin-top: 80px;
}
.text-error{
	color: red;
}
