<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">

<title>Tipos</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	<div class="container">
		<div align="center">
			<h1>Estados</h1>
			<a class="btn btn-primary" th:href="@{'estado/nuevo'}">Agregar
				Estado</a> <a class="btn btn-default" th:href="@{'/'}">Inicio</a> <br />
			<br />
			<div th:if="${not #lists.isEmpty(estados)}">
				<table class="table table-striped">
					<thead>
						<!-- head table -->
						<tr>
							<th>#</th>
							<th>Descripcion</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<!-- fin head -->
					<tbody>
						<!-- body table -->
						<tr th:each="estado,status : ${estados}">
							<td th:text="${status.index+1}"><a
								href="/estado/${estado.idEstado}">#</a></td>
							<td th:text="${estado.descripcion}">descripcion</td>
							<td><a th:href="@{${'/estado/' + estado.idEstado }}"><i
									class="fa fa-eye" data-toggle="tooltip" title="Ver"></i></a> <a
								th:href="@{${'/estado/modificar/' + estado.idEstado}}"><i
									class="fa fa-pencil" data-toggle="tooltip" title="Modificar"></i></a>
								<a th:href="@{${'/estado/eliminar/' + estado.idEstado}}"
								id="delete"><i class="fa fa-trash" data-toggle="tooltip"
									title="Eliminar"></i></a></td>
						</tr>
					</tbody>
					<!-- fin body -->
				</table>

			</div>
		</div>
	</div>

</body>
<!--/*/ <th:block th:replace="fragments/footer :: footer"></th:block> /*/-->
<script th:replace="fragments/confirm :: confirm"></script>
</html>