<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">

<title>Estados</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	<div class="container">
		<h2 th:inline="text">[[${titulo}]]</h2>
		<div>
			<div class="row">
				<form class="form-horizontal" th:object="${estado}"
					th:action="@{/estado}" method="post">
					<input type="hidden" th:field="*{idEstado}" />
					<div class="form-group">
						<label class="col-sm-2 control-label">Descripcion:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:field="*{descripcion}" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-primary">Aceptar</button>
							<a type="button" class="btn btn-default"
								th:href="@{'/estados'}">Volver</a>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>

</body>
<!--/*/ <th:block th:replace="fragments/footer :: footer"></th:block> /*/-->
</html>