<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">

<title>Tipos</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	<div class="container">
		<div align="center">
			<h1>Tipos</h1>
			<a class="btn btn-primary" th:href="@{'tipo/nuevo'}">Agregar Tipo</a>
			<a class="btn btn-default" th:href="@{'/'}">Inicio</a> <br />
			<br />
			<div th:if="${not #lists.isEmpty(tipos)}">
				<table class="table table-striped">
					<tr>
						<th>#</th>
						<th>Nombre</th>
						<th>Descripci&oacute;n</th>
						<th>Acciones</th>
					</tr>
					<tr th:each="tipo,status : ${tipos}">
						<td th:text="${status.index+1}"><a
							href="/tipo/${tipo.idTipo}">#</a></td>
						<td th:text="${tipo.nombre}">Tipo Id</td>
						<td th:text="${tipo.descripcion}">Descripci&oacute;n</td>
						<td><a th:href="@{${'/tipo/' + tipo.idTipo }}"><i
								class="fa fa-eye" data-toggle="tooltip" title="Ver"></i></a> <a
							th:href="@{${'/tipo/modificar/' + tipo.idTipo}}"><i
								class="fa fa-pencil" data-toggle="tooltip" title="Modificar"></i></a>
							<!-- <a th:href="@{${'/tipo/eliminar/' + tipo.idTipo}}"><i class="fa fa-trash" data-toggle="tooltip" title="Eliminar"></i></a></td> -->
							<a data-toggle="modal" data-target="#confirm"> <i
								class="fa fa-trash" data-toggle="tooltip" title="Eliminar"></i></a>
							<!-- Modal -->
							<div class="modal fade" id="confirm" tabindex="-1" role="dialog"
								aria-labelledby="confirmLabel">
								<div class="modal-dialog" role="dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Cerrar">
												<span aria-hidden="true">&times;</span>
											</button>
											<h4 class="modal-title" id="confirmLabel">Confirmar</h4>
										</div>
										<div class="modal-body">Est&aacute; seguro de eliminar
											este elemento?</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default"
												data-dismiss="modal">Cerrar</button>
											<a type="button"
												th:href="@{${'/tipo/eliminar/' + tipo.idTipo}}"
												class="btn btn-primary">Aceptar</a>
										</div>
									</div>
								</div>
							</div></td>
					</tr>
				</table>

			</div>
		</div>
	</div>

</body>
<!--/*/ <th:block th:replace="fragments/footer :: footer"></th:block> /*/-->
<script th:replace="fragments/confirm2 :: confirm">
	$(document).ready(function() {
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>
</html>